body {
  margin: 0;
  background: black;
  overflow: hidden;
  min-height: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

canvas{
	position: relative;
	left: 0;
	height: 750px;
	width: 600px;
}

canvas, canvas:active, canvas:focus {
  cursor: crosshair;
}