body {
    margin: 0;
    background: black;
    overflow: hidden;
    min-height: 100%;
    font-family: 'Ubuntu Mono', monospace;
}

canvas {
    position: relative;
    left: 0;
    height: 750px;
    width: 100%;
}

canvas,
canvas:active,
canvas:focus {
    cursor: crosshair;
}