body {
  margin: 0;
  background: black;
  overflow: hidden;
  min-height: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

canvas{
	position: absolute;
	left: 0;
    
}

.board{
	background-color: rgb(25,25,25);
}

canvas, canvas:active, canvas:focus {
  cursor: crosshair;
}